<!--Bottom Navbar-->
<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Copyright -->
    
    <!-- Copyright -->
  





<div class="fixed-bottom navbar-dark" style="background-color:#0b075a">
  <div class="text-center text-white p-3 bottom " >
    <h6 class="navbar-text" style="color:#FFCC00 ">&copy; 2022 by Landon, Marco, Mutasim, Belal, and Caleb</h6>
  </div>
</div>

