<!--Bottom Navbar-->
<!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Copyright -->
    
    <!-- Copyright -->
  





<div class="fixed-bottom navbar-dark bg-dark">
  <div class="text-center text-white p-3 bottom " >
    <h6 class="navbar-text" style="color:white">&copy; 2022 by Belal Sahibzada</h6>
  </div>
</div>

