/* Custom CSS goes here */

/*Imported Custom Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;500;600;700&display=swap');
body {
  background-color: #0b075a  !important;
  font-family: 'Playfair Display', serif;
}

/*_____________________HOME PAGE*___________________/
/*Container for home page*/
.homeContainer { 
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px !important;
  animation: fadeIn 1.5s 1;
}

/*title styling*/
.homeTitle{
  font-family: 'Bebas Neue', serif;
  font-size: 110px !important;
  text-align: center !important;
  margin-top: 10% !important;
  /*padding: auto !important;*/
  animation: fadeIn 1.5s 1;
  color: #FFCC00;
}

/*Start button*/
#start-button {
  color: #0b075a !important;
  text-align: center !important;
}

/*Clapper board icon in get started button*/
.fa-clapperboard{
  color: #0b075a;
}

/*animation for when page loads*/
img { 
  animation: fadeIn-Img 1s 1 !important;
}
@keyframes fadeIn {
  100% {margin-top:0%; opacity:1.0}
  0% {margin-top:1.6%; opacity: 0.0}
}
@keyframes fadeIn-Img {
  100% {margin-top:0%; opacity:1.0}
  0% {margin-top:50%; opacity: 0.0}
}
@keyframes fade {
  0% {margin-top:0%; opacity:1.0}
  0% {margin-top:100%; opacity:0.0}
}
/*_____________________________________________________________*/






/*Form fields for login, register, add, edit*/
.form-group{
  font-family: 'Nunito', sans-serif;
  color:white;
}




/*Button on navbar*/
#navbarSupportedContent {
  color:#FFCC00; 
}

  

/*Container for add and edit page forms*/
.containerCenter{
  position: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 60px !important;
  flex-direction: column;
}

.loginPage{
  flex-direction: column !important;
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  max-width: 500px !important;
  margin: auto !important;
  margin-top: 10% !important;
  /* transform: translateY(-50%) !important; */
}
.loginPage .formBox{
  width: 100% !important;
}

.loginPage .form-group{
  gap: 40px !important;
}

/*"Please login" on login page*/
.loginTitle{
  color: #FFCC00 !important;
  font-family: 'Bebas Neue', serif !important;
  text-align: center !important;
}







/*Formating for list for...........................................................................*/
.listTitle {
  font-family: 'Oswald', serif; 
  position: relative;
  top: 12%;
  text-align: center;
  animation: fade-in 1.5s 1;
  color: #FFCC00;
}


/*Not sure if we need this......................................*/
.container-center { 
  position:relative;
  left: 25%;
}

/*Not sure if we need this......................................*/
p {
  background-color: #0b075a;
}